/*
Theme Name: metrohealthintranet
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/

/* =WordPress Core
-------------------------------------------------------------- */
.wp-content strong, 
.wp-content b{
    font-weight: bold;
}
.wp-content .alignnone {
    margin: 5px 20px 20px 0;
}

.wp-content .aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.wp-content .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.wp-content .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.wp-content .aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.wp-content a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.wp-content a img.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-content a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.wp-content a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-content .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-content .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-content .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-content .wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-content .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-content ul {
	padding: 0 0 15px 25px;
	margin: 0px;
}
.wp-content ul li {
	list-style-type: disc;
	padding: 0 0 8px 0px;
	margin: 0px;
}
.wp-content ol {
	padding: 0 0 15px 25px;
	margin: 0px;
}
.wp-content ol li {
	list-style-type: decimal;
	padding: 0 0 8px 0px;
	margin: 0px;
}
.wp-content .wp-caption p.wp-caption-text,
.wp-content .gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.wp-content .sticky,
.wp-content .bypostauthor{
	display:block;
}



/* main elements */
#commentform label{display: block;}
em.date a{
    color: #999999;
    text-decoration: none;
}
/*Update Notifications*/
.login-box .add-nav {
    overflow:visible !important; 
    
}
.login-box .add-nav li{   
    line-height: 20px;
}
.ffs-notification{
    position: relative;
}
.ffs-notification sup{
    /*background-color: #1FB3DD;
     border-radius: 10px 10px 10px 10px;
    color: #FFFFFF !important;
    display: inline;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    text-shadow: none;*/
}
.ffs-notification:hover{
    cursor: pointer;
    background:#cdcdcd url("images/separator1.png") no-repeat scroll 0 50% !important;
    text-decoration: none;
}
.ffs-notification:hover ul{
    display:block;
    z-index: 9999;
}

.ffs-notification ul{
    background: none repeat scroll 0 0 #cdcdcd;
    display: none;
    padding: 5px 2px;
    position: absolute;
    right: 0;
    top: 16px;
    width: 200px;
}
.login-box .add-nav li ul li{
    background: none; 
    padding: 5px;
}
.home .bpfb_form_container{
    background-color: transparent;
    padding: 0;
}
/*Update Notifications End*/
/*block-share*/
#ffshome-share form#whats-new-form h5 {
    margin: 0;    
}

#ffshome-share form#whats-new-form #whats-new-content {
    margin-left: 0px;
    padding-left: 0px;
}
#ffshome-share form#whats-new-form textarea {
    background: none repeat scroll 0 0 #EEEEEE;
    border: none;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    font-family: inherit;
    font-size: 14px;
    height: 150px;
    padding: 6px;
    width: 98%;
}
#ffshome-share form#whats-new-form textarea[style] {  
    height: 150px;  
}
#ffshome-share form#whats-new-form #whats-new-submit {
    float: left;
    margin-top: 12px;
}
#ffshome-share #whats-new-options {
    height: 0;
    overflow: visible;
}
#ffshome-share #aw-whats-new-submit{
    border: none;
    background: none;
    color: #000;
    text-decoration: underline;
    padding: 0px;
}
#ffshome-share .show-all-your-post{
    float: right;
    margin-top: 12px;
    
}
#ffshome-share .show-all-your-post a{
   text-decoration: underline;
   color: #000;
   font: 12px/14px Arial,Tahoma,Verdana,sans-serif;
}


/*block-share End*/
/*block-my-projects*/
#ffshome-my-group .time-since{
   display: block;
   font-size: 12px;
    color: #000;
}
#ffshome-my-group .activity-header a{
  display: block;
  margin-top: 6px;
}

#ffshome-my-group .activity-list .activity-content {
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: 0px;
    border-bottom: 1px solid #000;
}
#ffshome-my-group .activity-header {
    margin-right: 0px;
    font-size: 16px;
    color: #000;
}
#ffshome-my-group .activity-list .activity-content .activity-header, 
#ffshome-my-group .activity-list .activity-content .comment-header {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}
#ffshome-my-group .activity-inner p{
    color: #5D5D66;
    font-size: 12px;
    line-height: 18px;
}
#ffshome-my-group .activity-list .activity-content .activity-inner, 
#ffshome-my-group .activity-list .activity-content blockquote {
    margin:0;
    overflow: hidden;
}
.align-left{
    display: block;
    float: left;
    padding-bottom: 20px;
}
.align-right{
    display: block;
    float: right;
    padding-bottom: 20px;
}
#ffshome-my-group .activity-read-more {
   font-size: 14px;
    font-weight: bold;
}
#ffshome-my-group .activity-read-more {
    margin-left:0;  
}
/*block-my-projects End*/

/*block-my-connection*/
#ffshome-my-connections .activity-list .activity-content .activity-inner, 
#ffshome-my-connections .activity-list .activity-content blockquote {
    margin:0;
    overflow: hidden;
}

#ffshome-my-connections .activity-header a{
    text-decoration: none;
    color: #005392;
    font-size: 16px;
    font-weight: bold;
}
#ffshome-my-connections .activity-header a.activity-time-since,
#ffshome-my-connections .time-since{
    text-decoration: none;
    color: #5d5d66;
    font-size: 14px;    
}
#ffshome-my-connections  .activity-inner p{
    color: #5D5D66;
    font-size: 14px;
}
#ffshome-my-connections  .activity-header {
    margin-right: 0px;
}
#ffshome-my-connections .ffs-readmore{
    display: block;
    color:#005392; 
}
/*block-my-connection End*/