@CHARSET "ISO-8859-1";

.bpfb_toolbar_container, .bpfb_controls_container {
	clear: left;
	padding-top: 5px;
}

.bpfb_toolbarItem {
	border: none;
	text-decoration: none;
	display: block;
	float: left;
	height: 18px;
	width: 21px;
	margin-right: 1ex;
	overflow: hidden;
} 

.bpfb_toolbarItem span {
	display: block;
	position: absolute;
	left: -12000000000px;
	display: none;
}

#bpfb_addPhotos {
	background: url(../img/system/camera.png) left top no-repeat;
}
#bpfb_addVideos {
	background: url(../img/system/film.png) left top no-repeat;
}
#bpfb_addLinks {
	background: url(../img/system/link.png) left top no-repeat;
}
#bpfb_addDocuments {
	background: url(../img/system/document.png) left top no-repeat;
}