html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section {display: block;}
ol,
ul {list-style: none;}
blockquote,
q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {font-size: 100.01%;}
html {font-size: 62.5%;}
body {
	margin:0;
	color:#1d1d1d;
	font:1.4em/1.21em Helvetica, Arial, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {
	text-decoration:none;
	color:#1d1d1d;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#1d1d1d;
}
form,
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
input[type=text],
input[type=password],
input[type=file],
input[type=submit],
textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
input[type=image]{padding:0;border:none;}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;}
.columns-holder:after,
.twocolumns-holder:after,
#twocolumns:after,
#main:after,
.search:after,
#header .frame:after,
#header .holder:after{
	display:block;
	content:"";
	clear:both;
}
.wrap,
.wrapper{
	position:relative;
	max-width:1069px;
	margin:0 auto;
}
#header{
	/*position:fixed;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	background:#fff;*/
}
.logo{
	float:left;
	margin:19px 0 0 -33px;
	width:243px;
	height:30px;
}
.logo a{
	display:block;
	height:100%;
}
.logo img{display:block;}
#header .holder{
	text-align:right;
	padding:7px 0 18px;
}
#header .login-box{
	display:block;
	vertical-align: top;
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	color:#a5a6a7;
}
.login-box .img-holder{
	float:right;
	overflow:hidden;
	border-radius: 0 3px 0 3px;
	-webkit-border-radius: 0 3px 0 3px;
	margin: 0 0 0 7px;
}
.login-box .add-nav {
	position:relative;
	right:-7px;
	padding:2px 0 1px;
	overflow:hidden;
}
.login-box .add-nav li{
	font-weight:normal;
	color:#1d1d1d;
	font-size:14px;
	display:inline-block;
	vertical-align: top;
	padding:0 7px 0 10px;
	background:url(../images/separator1.png) no-repeat 0 50%;
}
.login-box .add-nav li:first-child{background:none;}
.login-box .add-nav strong{font-weight:bold;}
.login-box .add-nav a{color:#1d1d1d;}
.login-box .add-nav sup{
	position:relative;
	top:-5px;
	font-weight:bold;
	font-size:12px;
	color:#4f91cd;
}
.login-box .add-nav a:hover sup{text-decoration:none;}
#nav{
	float:left;
	font-size:20px;
	line-height:24px;
	padding:34px 32px 0 0;
}
#nav .open{display:none;}
#nav li{
	float:left;
	margin:0 0 0 30px;
}
#nav li:first-child{margin:0;}
#nav li.has-drop-down{
	position:relative;
	z-index:8888;
	margin:-8px -14px -8px 10px;
}
#nav li:first-child.has-drop-down{margin:-8px -14px -8px -18px;}
#nav li.has-drop-down a{
	position:relative;
	z-index:4;
	display:block;
	padding:8px 14px 8px 18px;
}
#nav li.has-drop-down.hover{
	background:#fff;
	-webkit-box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.32);
	box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.32);
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
}
#nav li.has-drop-down a:hover,
#nav li.has-drop-down.hover a{
	text-decoration:none;
	color:#4f91cd;
}
#nav li.has-drop-down.hover:after{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	background:#fff;
	content:"";
	z-index:3;
}
#nav .drop{
	position:absolute;
	top:-9999px;
	left:-9999px;
	overflow:hidden;
	margin:0 -9999px 0 0;
	padding:23px 21px 45px 0;
	font-size:14px;
	line-height:20px;
	background:#fff;
	-webkit-box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.32);
	box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.32);
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
}
#nav li.hover .drop{
	top:40px !important;
	left:-60px !important;
}
#nav li:first-child.hover .drop{left:0 !important;}
#nav .drop .column{
	float:left;
	width:200px;
	margin:0 0 0 23px;
}
#nav .drop .column:first-child{
	width:164px;
}
#nav .drop .column.style01{width:285px;}
#nav .drop .heading{
	display:block;
	font-weight:bold;
	color:#4f91cd;
	padding:0 0 9px;
}
#nav li.has-drop-down .drop a,
#nav .drop a{
	color:#212121;
	padding:0;
}
#nav li.has-drop-down .drop a:hover,
#nav .drop a:hover{text-decoration:underline;}
#nav .drop li{
	float:none;
	margin:0;
}
.search{
	margin:0 -8px -8px 0;
}
.search legend{display:none;}
.search input[type=submit]{display:none;}
.search-nav{
	font-size:16px;
	line-height:18px;
	padding:0 0 0 17px;
	overflow:hidden;
}
.search-nav li{
	float:left;
}
.search-nav a{
	display:block;
	padding:5px 12px;
}
.search-nav a:hover,
.search-nav li.active a{
	text-decoration:none;
	background:#f2f2f2;
	color:#4f91cd;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.search input[type=text]{
	position:relative;
	border:1px solid;
	border-color:#f1f1f1 #cfcfcf #c4c4c4;
	height:31px;
	line-height:31px;
	padding:0 13px;
	font-size:16px;
	color:#4f91cd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.32);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.32);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
}
.search label{
	float:left;
	padding:37px 12px 0 0;
	text-transform:uppercase;
	color:#4f91cd;
	font-size:18px;
	line-height:18px;
}
.search .search-holder{
	position:relative;
	overflow:hidden;
	padding:0 10px 8px 4px;
}
#main{
	/*padding:165px 0 83px;*/
	padding: 45px 0 83px;
}
#main h2{
	margin:0 0 22px;
	color:#666;
	font-weight:normal;
	font-size:1.71em;
	line-height:1.08em;
}
#main .comments-holder h2{
	margin:0 0 30px;
	color:#1d1d1d;
}
#main .main-heading h2{
	margin:0 0 9px;
	color:#4f91cd;
	font-weight:bold;
}
#main .column-main .main-heading h2{margin:14px 0 26px;}
#main .heading-container {
	overflow:hidden;
	margin:-4px 0 0;
	padding:0 0 38px;
}
#main .heading-container h2{
	float:left;
	margin:0 27px 0 0;
}
#main .heading-container h2 a{color:#666;}
#main .heading-container .sign-in{
	float:left;
	margin:7px 0 0;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
#main .heading-container .sign-in:hover{text-decoration:none;}
#main h3{
	margin:0 0 3px;
	font-weight:bold;
}
#main .box .holder h3{
	margin:0 0 13px;
}
.block-contact{
	position:relative;
	margin:0 0 8px;
	padding:10px 0 25px 15px;
	overflow:hidden;
	background:#4f91cd;
}
#main .block-contact h3{
	margin:0 0 20px;
	color:#fff;
	font-size:1.71em;
	font-weight:normal;
	line-height:1.25em;
}
#main .block-contact h4{
	margin:0 0 17px;
	font-weight:bold;
	color:#fff;
}
#twocolumns .block-contact .column{
	width:290px;
	margin:0 0 0 40px;
}
#twocolumns .block-contact .column:first-child{
	margin:0;
	width:290px;
} 
.block-contact address{
	display:block;
	padding:0 0 16px;
}
.block-contact a{color:#fff;}
.block-contact dl{margin:0 0 17px;}
.block-contact dt{
	float:left;
	margin:0 3px 0 0;
}
.block-contact dd{overflow:hidden;}
.block-contact .more{
	text-decoration:underline;
	font-weight:bold;
}
.block-contact .more:hover{text-decoration:none;}
.column-main{
	position:relative;
	z-index:1;
	float:left;
	width:413px;
	padding:0 8px 0 0;
}
.column-main-sidenav{
	position:relative;
	z-index:1;
	float:left;
	width:204px;
	padding:8px;
    background-color: #4f91cd;
	color: #fff;
}
.column-main-sidenav h2{
	color: #fff!important;
	font-size: 16px!important;
	margin: 0 0 10px 0!important;
}
.column-main-sidenav a, .column-main-sidenav a:active, .column-main-sidenav a:visited{
	color: #fff;
	font-size: 14px;
}
.column-area{
	overflow:hidden;
	padding:0 0 26px 4px;
}
.col-holder{
	overflow:hidden;
}
.col-holder .col{
	float:left;
	width:44%;
	margin:0 0 0 4%;
}
.col-holder .col:first-child{
	margin:0;
	width:52%;
}
.col-holder li{padding:0 0 5px;}
.col-holder a{
	color:#4f91cd;
	font-weight:bold;
}
.post-holder{
	overflow:hidden;
	padding:0 15px 7px 0;
}
.post{
	margin:0 0 20px;
	padding:0 0 6px;
	overflow:hidden;
	border-bottom:1px solid #666;
}
.post .tags,
.post .date{
	display:block;
	font-size:0.71em;
	color:#999;
	font-weight:bold;
}
.post .date{padding:0 0 3px;}
.post .tags{margin:-7px 0 6px;}
.post p{margin:0 0 13px;}
.post p a{font-weight:bold;}
.block{
	position:relative;
	margin:0 0 9px;
	overflow:hidden;
	color:#fff;
	font-size:0.79em;
	line-height:1.18em;
	padding:3px 9px 6px 13px;
	background:#a5a6a7;
	-webkit-box-shadow: 1px 3px 18px rgba(0, 0, 0, 0.34);
	box-shadow: 1px 3px 18px rgba(0, 0, 0, 0.34);
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
}
.block.style01{padding:5px 9px 6px 13px;}
.block.style02{padding:5px 9px 9px 13px;}
.block.style03{min-height:475px;}
.block .heading-holder{
	overflow:hidden;
	padding:7px 0 16px;
}
.block.style01 .heading-holder{padding:0 0 20px;}
.block.style03 .heading-holder{padding:3px 0 16px;}
#main .block h3{
	font-size:1.64em;
	line-height:1.11em;
	color:#fff;
	font-weight:normal;
}
#main .block h3 a{color:#fff;}
#main .block h4{
	margin:0 0 11px;
	font-size:1.27em;
	line-height:1.21em;
	font-weight:bold;
}
.calendar-placeholder{
	/*overflow:hidden;*/
	padding:0 0 15px;
}
.calendar-placeholder img{display:block;}
.block .heading-holder .opener{
	float:right;
	margin:4px 0 0;
	width:12px;
	height:12px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-opener.png) no-repeat 0 -88px;
}
.block.style01 .heading-holder .opener{margin:6px 0 0;}
.block.active .heading-holder .opener{background-position:0 -76px;}
.block .icons-list {
	margin: 0 0 0 -15px
}
.block ul.icons-list{
	padding: 0 0 0 -15px
}
.block .icons-list li{
	margin:0;
	display:inline-block;
	vertical-align: top;
}
.block .icons-list img{
  vertical-align:top;}
.block-list{
	padding:0 0 4px 4px;
	overflow:hidden;
	font-size:1.27em;
	line-height:1.15em;
	font-weight:bold;
}
.block-list li{padding:0 0 6px;}
.block-list a{color:#fff;}
.block .more{
	font-weight:bold;
	text-decoration:underline;
}
.block .more:hover{text-decoration:none;}
.block a{color:#fff;}
.block-holder{
	overflow:hidden;
	padding:0 4px 8px;
	line-height:1.26em;
}
.block-holder .img-holder{
	position:relative;
	margin:0 0 7px;
}
.block-holder .img-holder .text-holder{
	position:absolute;
	top:9px;
	left:6px;
	font-size:12px;
	line-height:16px;
}
.block-holder .img-holder .text-holder span{
	display:block;
	font-size:14px;
}
.block .col-holder{
	overflow:hidden;
	padding:20px 0 10px;
	font-weight:bold;
	letter-spacing:-1px;
}
.block .col-holder .col{
	float:left;
	width:44%;
	margin:0 0 0 4%;
}
.block .col-holder .col:first-child{
	margin:0;
	width:52%;
}
.block .col-holder a{text-decoration:underline;}
.block .col-holder a:hover{text-decoration:none;}
.box{
	position:relative;
	overflow:hidden;
	margin:0 0 23px;
	border-radius: 0 22px 0 22px;
	-webkit-border-radius: 0 22px 0 22px;
	background:#fff;
	-webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.34);
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.34);
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
}
#main .box h2{
	margin:0;
	font-weight:normal;
	color:#fff;
	font-size:1.71em;
	line-height:1.08em;
}
.box .heading-holder{
	position:relative;
	overflow:hidden;
	border-radius: 0 22px 0 22px;
	-webkit-border-radius: 0 22px 0 22px;
	padding:10px 11px 10px 16px;
	background:#666;
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
}
.box.active .heading-holder{
	border-radius: 0 22px 0 0;
	-webkit-border-radius: 0 22px 0 0;
}
.box.style01 .heading-holder{
	background:#4f91cd;
	padding:10px 21px 10px 12px;
}
.box .heading-holder .opener{
	float:right;
	margin:3px 0 0;
	width:19px;
	height:19px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-opener.png) no-repeat 0 -19px;
}
.box.active .opener{background-position:0 0;}
.box.style01 .heading-holder .opener{background-position:0 -57px;}
.box.style01.active .heading-holder .opener{background-position:0 -38px;}
.box .slide{
	display:none;
	min-height:302px;
}
.box.style01 .slide{min-height:301px;}
.box.active .slide{display:block;}
.box .holder{
	overflow:hidden;
	padding:13px 16px 10px 18px;
}
.box .post-holder{padding:0 16px 4px 14px;}
.box .post-holder .post{
	margin:0;
	padding:12px 4px 10px;
}
.box .post .date{
	padding:0;
	font-size:0.71em;
	font-weight:bold;
	color:#000;
}
.post .text-holder{
	overflow:hidden;
	padding:5px 0 2px;
}
.box .post p{margin:0;}
.box .visual-list {
	overflow:hidden;
	min-height:233px;
	padding:12px 14px 12px 15px;
}
.box .visual-list li{
	overflow:hidden;
	margin: 0 0 21px;
	padding:0 12px 24px 2px;
	border-bottom:1px solid #666;
}
.box .visual-list li:first-child{padding:0 12px 21px 2px;}
#main .box .visual-list h3{margin:0 0 5px;}
.box .holder .img-holder{
	float:left;
	width:97px;
	margin:1px 26px 0 0;
	border-radius: 0 6px 0 6px;
	-webkit-border-radius: 0 6px 0 6px;
	overflow:hidden;
}
.alignleft{float:left;}
.alignright{float:right;}
.box .visual-list .alignleft{
	margin:0 9px 0 0;
	width:69px;
}
.box .more-holder{
	overflow:hidden;
	padding:0 23px 14px 14px;
}
.box .holder .more-holder{padding:0 6px;}
.box .more{
	text-decoration:underline;
	font:bold 0.79em Arial, Helvetica, sans-serif;
}
.box .more:hover{text-decoration:none;}
.box dl{
	overflow:hidden;
	padding:0 0 16px;
	font-size:0.86em;
	line-height:1.17em;
}
.box dt{
	float:left;
	width:110px;
	margin:0 3px 0 0;
	text-transform:uppercase;
}
.box dd{
	display:block;
	overflow:hidden;
}
.box .text-holder{overflow:hidden;}
.box .text-holder .more-holder{padding:13px 7px 0;}
.box .text-holder .more{float:right;}
.box .icons-list{
	display:block;
	overflow:hidden;
	margin:-4px 0 0;
	padding:0 3px 15px;
}
.box .icons-list li{
	float:left;
	margin:0 5px 0 0;
}
.box .icons-list a{
	display:block;
	width:15px;
}
.box .icons-list img{
	vertical-align:middle;
}
.box .visual-placeholder {
	overflow:hidden;
	padding:0 0 11px;
}
.box .visual-placeholder img{display:block;}
.comments-holder{
	overflow:hidden;
	padding:19px 0 0 3px;
}
.comments-holder .more{
	margin:0 5px;
	font-size:0.79em;
	font-weight:bold;
	text-decoration:underline;
}
.comments-holder .more:hover{text-decoration:none;}
.comments-list{
	overflow:hidden;
	font-size:0.86em;
	line-height:1.17em;
}
.comments-holder .comments-list{padding:0 50px 17px 3px;}
.box .comments-list{padding:19px 12px;}
.comments-list li{
	overflow:hidden;
	padding:0 0 9px;
}
.comments-holder .comments-list .text-holder{overflow:hidden;}
.comments-list p a{
	font-weight:bold;
	color:#1d1d1d;
}
#main .comments-list h3{
	font-size:1.17em;
	margin:1px 0 8px;
}
.comments-list .img-holder{
	float:left;
	width:69px;
	margin: 0 9px 0 0;
}
.box .comments-list .img-holder{margin:0 6px 0 0;}
.comments-list .img-holder img{display:block;}
.info-list{
	overflow:hidden;
	font-size:0.86em;
	line-height:1.17em;
	color:#747474;
	padding:5px 41px 7px 14px;
}
.info-list li{
	padding:10px 0 0;
	margin:0 0 10px;
	border-top:1px solid #000;
}
.info-list li:first-child{border:0;}
#main .info-list h3{
	margin:0 0 8px;
	font-size:1.17em;
}
.info-list .date{
	display:block;
	padding:0 0 1px;
	color:#1d1d1d;
	font-weight:bold;
}
.info-list p{margin:0;}
.info-list p a{
	font-weight:bold;
	text-transform:uppercase;
}
.cycle-gallery {
	margin:0 0 34px;
	position: relative;
}
.cycle-gallery .mask {
	position: relative;
	overflow: hidden;
}
.cycle-gallery .mask .slideset {
	width: 99999px;
	float: left;
}
.cycle-gallery .mask .slide {float: left;}
.cycle-gallery .pagination{
	position:absolute;
	bottom:10px;
	right:14px;
}
.cycle-gallery .pagination li{
	float:left;
	margin:0 0 0 6px;
}
.cycle-gallery .pagination a{
	position:relative;
	display:block;
	width:19px;
	height:19px;
	text-align:center;
	background:#fff;
	color:#4f91cd;
	font:bold 10px/19px Arial, Helvetica, sans-serif;
	background:url(../images/bg-paging.png) no-repeat;
}
.carousel-holder{
	overflow:hidden;
	padding:0 0 42px;
}
#main .carousel-holder h2 {
	margin:0 12px 12px;
	color:#1d1d1d;
}
.carousel {
	overflow:hidden;
	position: relative;
	padding:0 36px 0 43px;
}
.carousel .mask {
	position: relative;
	overflow: hidden;
}
.carousel .mask .slideset {
	width: 99999px;
	float: left;
}
.carousel .mask .slide {
	width: 65px;
	margin:0 7px 0 0;
	float: left;
}
.carousel .mask img{display:block;}
.carousel .btn-next,
.carousel .btn-prev{
	position:absolute;
	top:17px;
	width:31px;
	height:31px;
	left:6px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btns-carousel.png) no-repeat;
}
.carousel .btn-next{
	left:auto;
	right:0;
	background-position:0 -31px;
}
.breadcrumbs{
	margin:-20px 0 25px;
	display:block;
	overflow:hidden;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	color:#4f91cd;
}
.breadcrumbs li{
	float:left;
	padding:0 3px 0 10px;
	background:url(../images/bullet1.png) no-repeat 0 50%;
}
.breadcrumbs li.home{
	padding:0 3px 0 0;
	background:none;
}
.breadcrumbs li.current_item{text-decoration:none;}
.breadcrumbs a{
	text-decoration:none;
	font-weight:normal;
}
.breadcrumbs a:hover{text-decoration:underline;}
.twocolumns-holder{
	position:relative;
	left:6px;
}
#twocolumns .column{
	float:left;
	width:208px;
	margin:0 0 0 21px;
}
#twocolumns .column:first-child{
	margin:0;
	width:413px;
}
#twocolumns .column-inner{
	float:left;
	width:220px;
	margin:0 0 0 21px;
}
#twocolumns .column-inner:first-child{
	margin:0 0 0 21px;
	width:569px;
}
#twocolumns .column-inner:first-child p{
	padding: 0 0 15px 0;
}
#footer{
	padding:25px 0;
	color:#fff;
	font-size:1.07em;
	line-height:1.33em;
	background:#4f91cd;
	text-align:center;
}
#footer li,
#footer ul{
	display:inline-block;
	vertical-align: top;
}
#footer li{
	margin:0 -3px 0 0;
	padding:0 20px;
	background:url(../images/separator2.png) no-repeat 0 50%;
}
#footer li:first-child{
	background:none;
	padding:0 20px 0 0;
}
#footer a{color:#fff;}
#footer img{vertical-align:top;}
#footer .social-networks{padding:2px 0 0;}
#footer .social-networks li{
	padding:0 2px 0 0;
	background:none;
}
#footer .social-networks a{
	display:inline-block;
	vertical-align: top;
	width:16px;
}
#footer .social-networks img{
	vertical-align:top;
}
#decrease{font-size:11px;}
#reset{font-size:15px;}
#increase{font-size:19px;}
.mobile-visible{display:none;}
.skip a{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.skip a:focus{
	position:static;
	width:auto;
	height:auto;
}
@media only screen and (max-width: 1097px) {
	.wrap,
	.wrapper{max-width:980px;}
	.logo{margin:19px 0 0;}
	.twocolumns-holder{left:auto;}
	.column-main{
		width:38%;
		margin:0 3% 0 0;
		padding:0;
	}
    .column-main-sidenav{
		width:20%;
		margin:0 3% 0 0;
		padding:8px;
	}
    #twocolumns .column-inner:first-child{
		margin:0;
		width:46%;
	}
	#twocolumns .column-inner{
		width:24%;
		margin:0 0 0 2%;
	}
	#twocolumns .column:first-child{
		margin:0;
		width:32%;
	}
	#twocolumns .column{
		width:24%;
		margin:0 0 0 2%;
	}
	.block-contact{
		padding:10px 15px 25px;
	}
	#twocolumns .block-contact .column{
		width:48%;
		margin:0 0 0 4%;
	}
	#twocolumns .block-contact .column:first-child{
		margin:0;
		width:48%;
	}
	.box .holder .img-holder{
		margin:0 0 10px;
		float:none;
	}
}
@media only screen and (max-width: 980px){
	.wrap,
	.wrapper{margin:0 10px;}
	.wrapper{font-size:0.95em;}
	.box dt{
		margin:0 10px 0 0;
		width:103px;
	}
	#nav{

		font-size:16px;

		padding:34px 32px 0 10px;

	}

	#nav li{margin:0 0 0 10px;}

	#nav .drop {

		font-size:12px;

		line-height:16px;

	}

	#nav li.has-drop-down{

		margin:-8px -7px -8px 5px;

	}

	#nav li.has-drop-down a{

		padding:8px 7px 8px 10px;

	}

	#nav .drop .column{

		width:150px;

		margin:0 0 0 15px;

	}

	#nav .drop .column:first-child{

		width:130px;

	}

	#nav .drop .column.style01{width:185px;}

	.search{margin:0;}

	.search label{font-size:16px;}

	.search-nav{

		padding:0 0 0 7px;

		font-size:12px;

	}
	
	.search input[type=text]{
		font-size:12px;
	}
	.block-contact{font-size:0.87em;}
	.comments-holder .comments-list{padding:0 0 17px;}
	.block-contact dt{
		float:none;
		display:block;
	}
	.box .holder .img-holder{
		float:none;
		margin:0 0 10px;
	}
	.box .more{
		display:inline-block;
		vertical-align: top;
		float:none !important;
	}
	.info-list{padding:5px 14px 7px;}
	.box .text-holder .more-holder{padding:13px 0 0;}
	.box .holder .more-holder{padding:0;}
	.box .slide,
	.box.style01 .slide{min-height:0;}
	.column-area{padding:0 0 15px;}
	.comments-holder{padding:0;}
	#main h2,
	#main .comments-holder h2{margin:0 0 10px;}
}
@media only screen and (max-width: 767px){
	#nav li:first-child.has-drop-down,

	#nav li.has-drop-down{margin:0;}

	#nav .drop,

	.search input[type=text],

	.box .heading-holder,

	.box,

	.block{

		behavior: none;

	}

	.wrapper{

		font-size:1.43em;

		line-height:1.25em;

	}
	.block .col-holder .col{
		float:none;
		width:auto;
		margin:0;
	}
	#header .login-box{display:none;}
	#header .frame:after,
	#header .holder:after{
		display:none;
	}
	#header{
		position:relative;
		background:none;
	}
	#header .wrap{margin:0;}
	#header .holder{padding:5px 0 0;}
	#main{padding:0;}
	.logo{
		position:absolute;
		top:0;
		left:0;
		margin:21px 0 0;
	}
	.logo a{
		display:block;
		height:100%;
	}
	#nav{

		float:none;

		overflow:hidden;

		padding:0;

		vertical-align:top;

	}

	#nav ul{

		padding:18px 0 20px;

	}

	#nav li{

		float:none;

		margin:0;

		padding:0 0 13px;

	}

	#nav li.has-drop-down.hover a:hover,

	#nav li.has-drop-down.hover a,

	#nav li.has-drop-down.hover{

		-webkit-box-shadow: 0 0 0;
		box-shadow: 0 0 0;

	}

	#nav li.has-drop-down a,

	#nav ul a{

		display:block;

		font-size:50px;

		line-height:61px;

		color:#919191;

		text-align:center;

		padding:0 10px;

		border:3px solid #adadad;

		border-radius: 9px;
		-webkit-border-radius: 9px;

	}

	#nav li.has-drop-down a{color:#4f91cd;}

	#nav li.hover .drop,

	#nav .drop{

		display:none;

		left:auto !important;

		top:auto !important;

		position:relative !important;

		margin:0;

		padding:15px 0 0;

		text-align:left;

		-webkit-box-shadow: 0 0 0;
		box-shadow: 0 0 0;

	}

	#nav .js-slide-hidden{display:none !important;}

	#nav .drop ul{padding:0 0 15px;}

	#nav .drop .column.style01,

	#nav .drop .column:first-child,

	#nav .drop .column{

		float:none;

		width:100%;

		margin:0;

	}

	#nav .drop .heading{

		font-size:30px;

		line-height:34px;

	}

	#nav li.has-drop-down .drop a,

	#nav .drop a{

		border:0;

		font-size:30px;

		line-height:34px;

		text-align:left;

		padding:0;

		border-radius: 0;
		-webkit-border-radius: 0;

	}

	#nav .open{

		display:block;

		float:right;

		width:69px;

		height:68px;

		text-indent:-9999px;

		overflow:hidden;

		background:url(../images/bg-nav-opener.png) no-repeat;

	}

	#nav.popup-active .open{

		background:url(../images/bg-nav-opener-active.png) no-repeat;

	}

	#nav ul{

		display:none;

		clear:both;

		overflow:hidden;

	}

	.search label{display:none;}
	.search{
		overflow:hidden;
		clear:both;
		padding:0 0 17px;
	}
	.search-nav{
		padding:0;
		text-align:center;
		font-size:20px;
		line-height:22px;
		font-weight:bold;
	}
	.search-nav li{
		float:none;
		display:inline-block;
		vertical-align: top;
	}
	.search-nav a:hover,
	.search-nav li.active a{
		background:none;
	}
	.search-area{
		border:3px solid #adadad;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	.search-frame{overflow:hidden;}
	.search input[type=submit]{
		display:block;
		float:left;
		width:62px;
		height:61px;
		border:0;
		overflow:hidden;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		text-indent:-9999px;
		background:#4f91cd url(../images/ico-search.png) no-repeat 50% 50%;
	}
	.search input[type=text]{
		outline:none;
		-webkit-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
		border:0;
		height:61px;
		font-size:24px;
		line-height:61px;
		border-radius: 0;
		text-align:center;
		-webkit-border-radius: 0;
	}
	#twocolumns .column,
	#twocolumns .column:first-child,
	.column-main{
		float:none;
		width:auto;
		margin:0 20px 0 13px;
		padding:0;
	}
    #twocolumns .column-inner,
	#twocolumns .column-inner:first-child,
	.column-main-sidenav{
		float:none;
		width:auto;
		margin:0 20px 0 13px;
		padding:0;
	}
	.post-holder{padding:0;}
	#main h2{
		font-size:1.8em;
		line-height:normal;
	}
	#main .column-main .main-heading h2{margin:14px 0 20px;}
	#main h3{
		margin:0 0 6px;
		font-size:1.2em;
		line-height:normal;
	}
	.post{
		padding:0 0 16px;
		margin:0 0 23px;
	}
	.box{
		border-radius: 0;
		-webkit-border-radius: 0;
		margin:0 -30px 61px -23px;
	}
	.box.style01{
		margin:0 -30px 41px -23px;
	}
	.box.active .heading-holder{
		border-radius: 0;
		-webkit-border-radius: 0;
	}
	.box.style01 .heading-holder,
	.box .heading-holder{
		position:relative;
		text-align:center;
		margin:0 0 10px;
		border-radius: 0;
		-webkit-border-radius: 0;
		padding:11px 28px 11px 16px;
	}
	.block .heading-holder .opener,
	.box.style01 .heading-holder .opener,
	.box .heading-holder .opener{
		position:absolute;
		right:28px;
		width:30px;
		height:30px;
		background:url(../images/ico-plus.png) no-repeat;
	}
	.block.active .heading-holder .opener,
	.box.style01.active .heading-holder .opener,
	.box.active .heading-holder .opener{
		background:url(../images/ico-minus.png) no-repeat 50% 50%;
	}
	.box .post-holder{
		padding:0 26px 4px 24px;
	}
	.box .post-holder .post{
		padding:22px 4px 20px;
	}
	.box .post .date{color:#999;}
	.post{
		border-width:2px;
	}
	.box .more-holder{padding:15px 23px 29px 24px;}
	.box.style01 .more-holder{padding:15px 23px 39px 24px;}
	.box.style01 .holder .more-holder{padding:14px 0 24px;}
	.box .visual-list{
		padding:10px 14px 0 25px;
		margin:0 0 -8px;
	}
	.box .visual-list li:first-child,
	.box .visual-list li{
		padding:15px 0 31px 2px;
	}
	.box .visual-list .alignleft{
		width:auto;
		margin:0 13px 0 0;
	}
	.mobile-hidden{display:none;}
	.box .holder .img-holder{
		float:left;
		width:auto;
		margin:5px 30px 0 0;
	}
	#main .box .holder h3{margin:0 0 21px;}
	.box dl{
		font-size:1em;
		padding:0 0 26px;
	}
	.box dt{width:180px;}
	.box .holder .more-holder{
		text-align:right;
		padding: 14px 0 44px;
	}
	.box .holder{
		padding:21px 16px 10px 18px;
	}
	.box .icons-list{
		margin:-12px 0 0;
		padding:0 3px 21px;
	}
	.box .icons-list li{margin:0 7px 0 0;}
	.box .icons-list a{width:auto;}
	.box .visual-placeholder img{width:100%;}
	.box .more.alignright{float:right !important;}
	.box .more.alignleft{float:left !important;}
	.info-list{
		font-size:1em;
		padding:15px 19px 7px;
	}
	.info-list li{
		padding:13px 0 0;
		margin:0 0 15px;
		border-width:2px;
	}
	.box .comments-list{
		padding:22px 22px 15px;
		font-size:1em;
	}
	.box .comments-list li{padding:0 0 14px;}
	.comments-list .img-holder{width:auto;}
	.box .comments-list .img-holder{
		margin:0 10px 0 0;
	}
	.block.style02,
	.block{
		color:#1d1d1d;
		margin:0 -30px 48px -23px;
		background:none;
		padding:0;
		font-size:1em;
	}
	.block.style03{
		background:#a5a6a7;
		padding:0 0 33px;
	}
	.block a{color:#1d1d1d;}
	.block.style03 .more{
		color:#fff;
		font-size:1.27em;
		line-height:normal;
		margin:0 36px;
	}
	.block.style03 .heading-holder,
	.block.style01 .heading-holder,
	.block .heading-holder{
		position:relative;
		background:#a5a6a7;
		text-align:center;
		padding:11px 28px 11px 16px;
	}
	.block.style03 .heading-holder{
		text-align:left;
		padding:26px 28px 11px 36px;
	}
	.block.style01.mobile-visible .heading-holder,
	.block.style01 .heading-holder{background:#4f91cd;}
	.block .heading-holder .opener{margin:0;}
	#main .block .heading-holder h3{margin:0;}
	.block .more-holder{
		padding:45px 23px 38px;
	}
	.block .more{color:#1d1d1d;}
	.block .comments-list{
		padding:32px 22px 30px;
	}
	.block.mobile-visible .more-holder{
		overflow:hidden;
		padding:0 23px 35px;
	}
	.comments-list li{padding:0 0 14px;}
	.block .slide-container{
		overflow:hidden;
		padding:53px 23px 0;
	}
	#main .block .comments-list h3{
		min-height:0;
		margin:0 0 8px;
	}
	.block-list{
		padding:47px 23px 20px;
		font-size:1.2em;
	}
	.block-list li{padding:0 0 33px;}
	.block .slide-holder{
		overflow:hidden;
		padding:55px 24px;
	}
	.block .slide-frame{
		overflow:hidden;
		padding:44px 0 33px 60px;
		font-size:1.2em;
		line-height:2em;
	}
	.block .slide-frame .holder{
		overflow:hidden;
		padding:0 0 80px;
	}
	.block .slide-frame ul {
		display:inline-block;
		vertical-align: top;
		width:250px;
		margin:0 27px 0 0;
	}
	.block .slide-frame ul li{padding:0 0 11px;}
	.block .slide-frame ul a{
		font-weight:bold;
		color:#4f91cd;
		text-decoration:underline;
	}
	#main .block h4{margin:0 0 41px;}
	.block.style01{padding:0;}
	.block .col-holder {
		padding:60px 0 190px;
		font-size:0.8em;
	}
	.block .slide-container .col-holder{
		padding:60px 0 67px;
	}
	.block .col-holder .col{
		float:right;
	}
	.block .col-holder .col:first-child{float:left;}
	.block .more{
		font-size:0.8em;
	}
	.calendar-placeholder{
		padding:48px 36px 44px;
		background:#a5a6a7;
	}
	.calendar-placeholder img{width:100%;}
	#footer{
		padding:53px 0 100px;
		background:none;
		font-size:1.86em;
	}
	#footer a{color:#4f91cd;}
	#footer ul{display:inline;}
	#footer li{
		margin:0 -10px 12px 0;
		padding:0 25px;
		background:url(../images/separator3.png) no-repeat 0 50%;
	}
	#decrease,
	#reset,
	#increase{font-size:26px;}
	#footer .social-networks{
		display:block;
		padding:47px 0 0;
	}
	#footer .social-networks li{
		margin:0 0 0 6px;
		padding:0;
	}
	#footer .social-networks a{
		width:auto;
	}
	.cycle-gallery .pagination{display:none;}
	.cycle-gallery{
		overflow:hidden;
		margin:0 -30px 60px -23px;
	}
	.cycle-gallery .mask{
		overflow:visible;
		margin:0 115px;
	}
	.cycle-gallery .mask .slide img{
		display:block;
		border:5px solid #fff;
		border-width:0 5px
	}
	.block-contact{
		padding:10px 27px 65px;
		font-size:1em;
		line-height:1.6em;
		color:#1d1d1d;
		background:none;
	}
	#main .block-contact h4{
		margin:0 0 35px;
		color:#1d1d1d;
		font-size:1.2em;
		line-height:normal;
	}
	#main .block-contact h3{
		color:#1d1d1d;
		margin:0 0 43px;
	}
	.block-contact a{color:#1d1d1d;}
	.breadcrumbs{display:none;}
	#twocolumns .block-contact .column,
	#twocolumns .block-contact .column:first-child{
		float:none;
		width:auto;
		margin:0;
	}
	.block-contact address{padding:0 0 33px;}
	.block-contact dl{margin:0 0 45px;}
	.block-contact dl.style01{margin:-8px 0 15px;}
	.block-contact dt{
		float:left;
	}
	.block-contact dt a{
		font-weight:bold;
	}
	.carousel-holder{margin:0 -10px;}
	.carousel{
		padding:0;
	}
	.carousel .mask .slide{
		width:146px;
		margin:0 16px 0 0;
	}
	.carousel .mask .slide img{width:100%;}
	.carousel .btn-prev,
	.carousel .btn-next{display:none;}
	#main .carousel-holder h2{
		margin:0 30px 32px;
	}
	#main .heading-container {
		text-align:center;
	}
	#main .heading-container h2{
		float:none;
		margin:0;
	}
	#main .heading-container h2 a{
		color:#4f91cd;
		text-decoration:underline;
	}
	#main .heading-container h2 a:hover{text-decoration:none;}
	#main .heading-container .sign-in{display:none;}
	.mobile-visible{display:block;}
	.block.mobile-visible .heading-holder {
		background:#666;
	}
	.block .heading-holder .opener{margin:5px 0 0;}
	.block .post-holder .post a{font-weight:bold;}
	#main .block h3{
		min-height:32px;
		margin:0 0 13px;
		font-size:1.2em;
		line-height:1.17em;
		font-weight:bold;
	}
	#main .block h3 a{color:#1d1d1d;}
	#main .block .heading-holder h3{
		font-size:1.8em;
		line-height:1.06em;
		font-weight:normal;
	}
	.post{
		margin:0 0 43px;
		padding:0 0 32px;
	}
	.post .tags{margin:-7px 0 20px;}
	.post-holder{padding:40px 23px 7px;}
}
@media only screen and (max-width: 639px){

	body{

		min-width:320px;

	}

	.wrapper{font-size:0.9em;}

	.logo{
		width:170px;
		height:21px;
	}

	#nav .open{

		margin:12px 0;

		width:30px;

		height:30px;

		background:url(../images/bg-nav-opener-mobile.png) no-repeat;

	}

	#nav.popup-active .open{

		background:url(../images/bg-nav-opener-mobile-active.png) no-repeat;

	}

	.box .visual-list{padding:10px 14px 0;}

	.search input[type=submit]{

		display:block;

		float:left;

		width:30px;

		height:30px;

		background:#4f91cd url(../images/ico-search-mobile.png) no-repeat 50% 50%;

	}

	.search-nav{

		font-size:12px;

		line-height:16px;

	}

	.search-area{

		border-width:2px;

	}

	.search input[type=text]{

		height:30px;

		font-size:12px;

		line-height:30px;

		border-radius: 6px;
		-webkit-border-radius: 6px;

	}

	#nav li.has-drop-down a,

	#nav ul a{

		border-width: 2px;

		border-radius: 5px;

		font-size: 12px;

		line-height: 30px;

		padding: 0 10px;

		text-align: center;

	}

	#nav .drop .heading{

		font-size:12px;

		line-height:18px;

	}

	#nav li.has-drop-down .drop a,

	#nav .drop a{

		font-size:12px;

		line-height:18px;

	}

	#nav .drop li{padding:0;}

	.cycle-gallery .mask{

		margin:0 105px;

	}

	.cycle-gallery{margin:0 -30px 20px -23px;}

	.block.style03 .heading-holder,

	.block.style01 .heading-holder,

	.block .heading-holder,

	.box.style01 .heading-holder,

	.box .heading-holder{

		padding:5px 28px 5px 16px;

	}

	#main .block .heading-holder h3,

	#main .box h2{

		font-size:1.43em;

		line-height:1.11em;

	}

	#main .block-contact h3{margin:0 0 15px;}

	#main .block-contact h4{margin:0 0 15px;}

	.block-contact address{padding:0 0 15px;}

	.block-contact dl{margin:0 0 20px;}

	.block-contact{padding:15px;}

	.carousel .mask .slide{

		width:73px;

		margin:0 10px 0 0;

	}

	#main .carousel-holder h2{margin:0 15px 16px;}

	#main .heading-container{padding:0 0 19px;}

	#main .block h3{

		min-height:0;

	}

	.block .heading-holder .opener,

	.box.style01 .heading-holder .opener,

	.box .heading-holder .opener{

		position:absolute;

		right:14px;

		margin:0;

		width:20px;

		height:20px;

		background:url(../images/ico-plus.png) no-repeat;

	}

	#main .heading-container h2{

		font-size:1.43em;

		line-height:1.11em;

	}

	#main .block .heading-holder h3,

	#main .box h2{

		font-size:1.43em;

		line-height:1.11em;

	}

	.block.active .heading-holder .opener,

	.box.style01.active .heading-holder .opener,

	.box.active .heading-holder .opener{

		background:url(../images/ico-minus.png) no-repeat 50% 50%;

	}

	.block .slide-frame{padding:22px 0 17px 30px;}

	.block .slide-frame .holder{padding:0 0 40px;}

	.block .slide-frame ul{

		width:40%;

		margin:0 5% 0 0;

	}

	.box .comments-list{padding:12px;}

	.block-list{padding:20px 12px;}

	.block-list li{padding:0 0 15px;}

	.comments-list .img-holder{width:54px;}

	.comments-list .text-holder{overflow:hidden;}

	.block .comments-list{padding:16px 11px 15px;}

	.block.mobile-visible .more-holder{padding:0 12px 17px;}

	.block .more-holder{padding:23px 12px 19px;}

	.block .slide-container{padding:27px 12px 0;}

	.block .slide-container .col-holder{padding:30px 0;}

	.calendar-placeholder{padding:24px 18px 22px;}

	.block.style03 .heading-holder{padding:14px;}

	.post-holder{

		padding:20px 12px 7px;

	}

	.column-main .post-holder{padding:20px 0;}

	.box .post-holder{padding:0 12px 4px;}

	.box{margin:0 -30px 30px -23px;}

	.post{

		padding:0 0 15px;

		margin:0 0 15px;

	}

	.block .slide-frame .holder{padding:0 0 20px;}

	.box .holder .img-holder{width:97px;}

	.box dt{

		float:none;

	}

	.box.style01 .holder .more-holder{padding:7px 0 12px;}

	.box .icons-list{

		margin:-6px 0 0;

		padding:0 3px 10px;

	}

	.box .icons-list a{width:16px;}

	.box.style01 .more-holder{padding:15px 12px 20px;}

	.info-list{padding:7px 12px;}

	.block .slide-holder{padding:25px 12px;}

	#main .block h4{margin:0 0 20px;}

	.block .col-holder{padding:20px 0 40px;}

	#footer{

		font-size:0.9em;

		padding:25px 0;

	}

	#decrease{font-size:1em;}

	#reset{font-size:1em;}

	#increase{font-size:1em;}

	#footer li{

		padding:0 13px 0 10px;

		background:url(../images/separator4.png) no-repeat 0 50%;

	}

	#footer .social-networks{padding:23px 0 0;}

	#footer .social-networks a{width:22px;}

}
@media only screen and (min-width: 768px){
	#nav .drop,

	#nav ul{

		display:block !important;

	}
}
#sidebar-mike{
width: 220px;
background-color: #4f91cd;
min-height: 300px;
float: left
 }
#middle-mike {
float: left;
width: 580px;
margin: 0 20px 0 20px;
font:0.875em Helvetica, Arial, sans-serif;
 }
 #middle-mike p{
 line-height: 1.8em;
  }
#rightsidebar-mike{
float: right;
width: 220px;
 }

.portlet
{
	
}
.portlet { 
	
}
.slide .post-holder form{
	margin: 16px 0 6px 0;
}
.portlet-content { 
	padding: 15px; 
}
	.portlet-content img { 
		padding-right: 10px;  
	}
#important-news .portlet-content {
	padding: 0px!important;  
}
#important-news .portlet-header-news{
	color: #000!important;
	font-weight: bold;
	font-size: 16px;
}
.portlet-header{
	cursor: move; 
	/*background-color: #4e91cd;
	border-top-right-radius: 20px; 
	color: #fff;*/
        background-color: #cecece;
	padding: 5px 5px 5px 15px;
	
}
	.portlet .portlet-header .ui-icon { 
		float: right; 
	}	
.grid_3 .portlet {
	color: #000;
	/*border-radius: 0px; 
	background-color: #a5a6a8;
	-moz-box-shadow: 3px 3px 3px 3px #e1e1e1;
	-webkit-box-shadow: 3px 3px 3px 3px #e1e1e1;
	box-shadow: 3px 3px 3px 3px #e1e1e1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1e1e1')";
	*/
border: 1px solid #cecece;
background-color: #ffffff;
}
	.grid_3 .portlet a{
		color: #000;
	}
.grid_3 .portlet-header{
	cursor: move; 
	/*background-color: #a5a6a8;
	border-top-right-radius: 0px; 
	color: #fff;*/
background-color: #cecece;
color: #000;
	
}
.grid_4 .portlet{
	background-color: #fff;
	/*border-top-right-radius: 20px; 
	border-bottom-left-radius: 20px;
	-moz-box-shadow: 3px 3px 3px 3px #e1e1e1;
	-webkit-box-shadow: 3px 3px 3px 3px #e1e1e1;
	box-shadow: 3px 3px 3px 3px #e1e1e1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1e1e1')";
	*/
border: 1px solid #cecece;
}
.grid_4 #important-news.portlet{
	/*border-top-right-radius: 0px; 
	border-bottom-left-radius: 0px;
	-moz-box-shadow: 0px 0px 0px 0px #e1e1e1;
	-webkit-box-shadow: 0px 0px 0px 0px #e1e1e1;
	box-shadow: 0px 0px 0px 0px #e1e1e1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#e1e1e1')";
	*/
border: 0px solid;
}
.grid_4 h1 {
  	position: relative;
  	float: left;
  	width: 320px;
  	height: 60px;
  	padding: 0;
  	margin: 16px 0 0 0;
  	/* background: url(http://metrohealth.net/wp-content/themes/metrohealth2011/images/logo.gif) no-repeat 0px 0; */
  	overflow: hidden;
  	/* text-indent: -200em; */
  	z-index: 10;
}
.grid_4_search{
	position: absolute;
	right: 0px;
	top: 55px;
	margin: 0 22px 0 0
}
.grid_4_search form input[type=text]{
	width: 340px;
	margin: 0 5px 0 0
}
.search-label{
	font-size: 16px;
	/*color: #4e91cd!important;*/
        color: #000000!important;
}
.grid_5 .portlet{
	background-color: #fff;
	/*border-top-right-radius: 20px; 
	border-bottom-left-radius: 20px;
	-moz-box-shadow: 3px 3px 3px 3px #e1e1e1;
	-webkit-box-shadow: 3px 3px 3px 3px #e1e1e1;
	box-shadow: 3px 3px 3px 3px #e1e1e1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1e1e1')";
	*/
border: 1px solid #cecece
}
.ui-sortable-placeholder {
	border: 1px dotted black!important;
	visibility: visible !important;
	background: #f1f1f1!important;
	-moz-box-shadow: 0px!important;
	-webkit-box-shadow: 0px!important;
	box-shadow: 0px!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0)";
	behavior: url(http://metronetnew.metrogr.org/wp-content/themes/metrohealthintranet/css/PIE.htc);
	
}
.ui-sortable-placeholder * { visibility: hidden; }
.collapsed div.portlet-content {
	display: none;
}

/* Collapse/Expand Links */
.collapsed a.collapse, .expanded a.expand {
	display: none;
}
.collapsed a.expand, .expanded a.collapse {
	display: in-line;
}
.non-collapsible span {
	display: none;
}
.collapsible > div.portlet-header > span > a
{
	text-decoration: none!important;
}
.grid_4 .collapse, .grid_5 .collapse{
	float: right;
	margin: 2px 10px 0 0;
	display:block;
	width:16px;
	height:16px;
	/*border-radius:50px;*/
	font-size:16px;
	color:#cecece;
	line-height:12px;
	text-align:center;
	background:#fff;
	font-weight: bold;
	
}
.grid_4 .expand, 
.grid_5 .expand{
	float: right;
	margin: 2px 10px 0 0;
	display:block;
	width:16px;
	height:16px;
	/*border-radius:50px;*/
	font-size:16px;
	color:#cecece;
	line-height:12px;
	text-align:center;
	background:#fff;
	font-weight: bold;
	
}
.grid_3 .collapse{
	float: right;
	margin: 2px 10px 0 0;
	display:block;
	width:16px;
	height:16px;
	/*border-radius:50px;*/
	font-size:16px;
	color:#a5a6a8!important;
	line-height:12px;
	text-align:center;
	background:#fff;
	font-weight: bold;
	
}
.grid_3 .expand{
	float: right;
	margin: 2px 10px 0 0;
	display:block;
	width:16px;
	height:16px;
	/*border-radius:50px;*/
	font-size:16px;
	color:#a5a6a8!important;
	line-height:12px;
	text-align:center;
	background:#fff;
	font-weight: bold;
	
}
/* END Collapse/Expand Links */

.grid_2_search{
	margin: 0 0 0 480px;
}
#my-applications .portlet-content {
	padding: 15px 0 6px 15px!important;
}
#my-applications .portlet-content a img{
	margin: 0 0 10px 0!important;
}
#my-applications .portlet-content .pad{
	padding: 0 15px 0 0
}
#newshound #gform_fields_1 li{
margin: 0 0 0 0px!important;
}
li.profile, li.groups,.portlet-content li{
margin: 0px;
list-style: none;
}
.third-column article.mobile-hidden .slide
{
display: none;
}
#ajax-loading-mini {
display: none;
}