#nav li.has-drop-down.hover a:after{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	background:#fff;
	content:"";
	z-index:3;
}
#nav li.has-drop-down.hover .drop a:after{display:none;}

article#my-applications-remove { display:none!important; }